.idea/
npm-debug.log
.DS_Store
._.DS_Store
config/database.json
config/mailing.json
config/parameters.json
/vendor/
web/assets/build/*
web/assets/dev
web/uploads/*
composer.lock
var/cache/*
var/logs/*
web/.htaccess
web/templates/site/blog-simple