/*****************************************************
 Simplex UI Material Theme
 Main stylesheet
 by Neja Dolinar <neja@nv3.org>
 2014
*****************************************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000;
}

body.initial-pad {
    padding-top: 128px;
}

body.dashboard {
    background: #f5f5f5;
}

b {
    color: rgba(0, 0, 0, 0.78);
}

h3, h4 {
    color: rgba(0, 0, 0, 0.74);
}

p {
    margin: 0 0 0.5em
}

a {
    color: #2196F3;
}

.section-helper {
    padding-top: 45px;
    text-align: right;
    padding-right: 20px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:none !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


.row {
    margin-right: 0;
    margin-left: 0;
}

.dropzone-clickable {
    height: 100%;
    width: 100%;
}
/*=============================
    Paper content - POST
=============================*/

h1.paper-title {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
}
.paper-intro {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 0 38px 40px 0;
}

.paper-intro p {
    margin: 0;
    margin-bottom: 20px;
}

.paper-content {
    font-size: 16px;
    line-height: 30px;
}


/*=============================
    HEADER
=============================*/

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 128px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
    background: #2196F3;
    color: #fff;
    z-index: 3;
}

header.single-item{
    height: 192px;
}

.header-wrapper {
    position: fixed;
    left: 72px;
    right: 72px;
    top: 0;
    height: 128px;
    padding-left: 240px;
    z-index: 4;
}

@media screen and (max-width: 1479px) {
    .header-wrapper {
        padding-left: 0;
    }
}

.inner-header-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

}

/* Top Header */
.top-header-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    line-height: 64px;
}

.bottom-header-wrapper {
    position: absolute;
    bottom:0;
    left: 0;
    height: 48px;
    width: 100%;
    line-height: 48px;
}

.bottom-header-wrapper2 {
    background: #fff;
    border: 1px solid #dfdfdf;
}

.header-title span {
    font-size: 24px;
    float: left;
}

span.page-title {
    margin-left: 12px;
}

.page-title i.fa {
    margin-right: 12px;
}
/* Top Header - Right toolbar */
.right-toolbar {
    position: fixed;
    right: 12px;
    top: 8px;
    height: 48px;
    text-align: center;
    z-index: 3;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.right-toolbar.active-right-bar {
    right: 412px;
}

.right-toolbar.active-right-bar .meta-btn {
    color: #fff;
}

.right-toolbar a {
    float: right;
    color: #BBDEFB;
    margin-left: 6px;
}

.tooltip {
    z-index: 30;
    position: fixed;
}

.right-toolbar .tooltip-inner {
    max-width: 600px;
}

/*=============================
    BTNs
=============================*/

.paper-btn {
    cursor: pointer;
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    /*background: #42A5F5;*/
    color: #BBDEFB;
    background: none;
    border: 1px solid transparent;
}

.paper-btn:hover {
    color: #BBDEFB;
}

.paper-btn > i.fa {
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
}

.nav-btn {
    left: 12px;
    top: 8px;
    z-index: 3;
    position: fixed;
    font-size: 1.2em;
}

.page-nav {
    z-index: 5;
}


/* Float btn */
.float-btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #2196F3;
    color: #fff;
    display: block;
    line-height: 56px;
    z-index: 3;
    position: fixed;
    bottom: 24px;
    right: 24px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: background-color,-webkit-box-shadow, color, border-color;
    transition-property: background-color,box-shadow, color, border-color;
}

.float-btn.float-top {
    top: 100px;
    background: red;
    left: 24px;
}

.float-btn:hover {
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.26);
    background: #29B6F6;
    color: #fff;
    border-color: #BBDEFB;
}

.float-btn.active-right-bar {
    right: 424px;
}

/* Action btn */

header.big-header {
    height: 192px;
}

.float-btn.morph-float {
    background: #fff;
    color: #2196F3;
    position: relative;
    bottom: auto;
    left: 50%;
    margin-left: -28px;
}
.float-wrap {
    position: absolute;
    top: 165px;
    right: 15px;
    width: 10%;
    text-align: center;
    height: 56px;
    z-index: 3;
}

.float-wrap.fixed-bottom {
    position: absolute;
    top: auto;
    bottom: 24px;
    right: 24px;
    width: 56px;
    height: 56px;
}

.active-right-bar .float-wrap.fixed-bottom {
    right: 424px;
}

/*
@media screen and (min-width: 1350px) and (max-width: 1480px) {
    .float-wrap {
        width: 56px;
        left: 0px;
        margin: 0 auto;
        padding-left: 1140px;
        width: 100%;
    }
}

@media screen and (min-width: 1480px) {
    .float-wrap {
        width: 56px;
        left: 0px;
        margin: 0 auto;
        padding-left: 1407px;
        width: 100%;
    }
}*/


@media screen and (min-width: 1450px) and (max-width: 1479px) {
    .float-wrap {
        width: 56px;
        left: 0px;
        margin: 0 auto;
        padding-left: 1200px;
        width: 100%;
    }
}

@media screen and (min-width: 1600px) {
    .float-wrap {
        width: 56px;
        left: 0px;
        margin: 0 auto;
        padding-left: 1440px;
        width: 100%;
    }
}

.float-btn.action-btn {
    position: relative;
    bottom: auto;
    right: auto;
    margin: 0 12px;
}

.morphed .add-msg{
    display: none;
}

.morphed .controls-hidden {
    display: block;
}

.morphed .controls-hidden.fixed-bottom {
    display: block;
    position: fixed;
    bottom: 96px;
    right: 24px;
}

.active-right-bar .morphed .controls-hidden.fixed-bottom {
    right: 424px;
}

.controls-hidden {
    display: none;
    text-align: center;
    margin: 0 auto;
}

.controls-hidden a {
    text-align: center;
    margin: 12px auto 0 auto !important;
}

.add-msg {
    line-height: 56px;
    float: left;
    margin-left: 8px;
}

/* Content overview */
.content-overview{

}


/*=============================
    GRID
=============================*/
.grid {
    min-height: 100%;
    padding-bottom: 100px;
    width: 100%;
    padding-left: 240px;
    background: #f5f5f5;
    -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-clear {
    background: #fff;
}

.grid-clear2 {
    background: #dfdfdf;
}

@media screen and (max-width: 760px) {
    .grid {
        padding-bottom: 40px;
    }
}

.grid-outer.active-right-bar,
.header-wrapper.active-right-bar,
.grid-outer-full.active-right-bar {
    padding-right: 400px;
}

@media screen and (max-width: 1479px) {
    .grid {
        padding-left: 0;
    }
}

.grid-outer {
    margin: auto;
    width: 1160px;
    padding-top: 40px;
}

.grid-post .grid-outer {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14);
    padding: 20px;
    background: #fff;
}

.grid-header {
    position: fixed;
    background: #fff;
    top: 64px;
    height: 64px;
    z-index: 3;
    width: 1160px;
    left: 50%;
    margin-left: -460px;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.14);
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.grid-header .form-element input {
    border: none;
    height: 64px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.grid-header-outer > div { float: left; }

.grid-header-outer > div.user-box {
    width: 50%;
    text-align: center;
}

.header-box:first-child {
    width: 70%;
    float: left;
}

.header-box:last-child {
    width: 30%;
    padding-left: 20px;
    padding-right: 6px;
    text-align: right;
}

.header-box.info-box:first-child {
    width: 50%;
    float: left;

}

.header-box.info-box:last-child {
    width: 50%;
    height: 96px;
    float: right;
}

.right-info-box > div {
    float: right;

}

.right-info-box > div:last-child {
    height: 32px;
    line-height: 16px;
    margin-top: 32px;
    white-space: nowrap;
    padding-right: 20px;
}

.info-app-button {
    height: 48px;
    margin-top: 24px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    padding-left: 6px;

}

.info-app-button a.btn-large {
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
}

.info-app-button i {
    font-size: 1.3em;
    margin-left: -4px;
}

.info-app-status p {
    white-space: nowrap;

}

.status-type {

}

.post-addition ul li {
    display: inline-block;
    line-height: 64px;
    padding-left: 12px;
    padding-right: 12px;
}

.post-addition li a {
    color: #c0c0c0;
}

.post-addition li a:hover {
    color: #2196F3;
}

.post-addition li.active a {
    color: #2196F3;
}


@media screen and (max-width: 1479px) {
    .grid-header {
        left: 50%;
        margin-left: -580px;
    }
}

.grid-outer2 {
    position: relative;
    background: #fff;
    /*margin-top: -60px;*/
    padding-top: 0;
    z-index: 3;
    padding-top: 0;
}

.grid-outer.paper {
    padding-top: 80px;
}

@media screen and (max-width: 1240px) {
    .grid-outer {
        width: 740px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid-header-outer, .grid-header {
        width: 740px;
    }

    .grid-header {
        left: 50%;
        margin-left: -370px;
    }


}

@media screen and (max-width: 760px) {
    .grid-outer {
        width: 600px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .grid-header {
        left: 50%;
        margin-left: -300px;
    }

    .grid-header-outer, .grid-header {
        width: 600px;
    }

    .grid-outer.paper {
        padding-top: 60px;
    }
}

.grid-settings {
    padding: 40px 60px;
}

/*=============================
    SIDE-NAV (LEFT)
=============================*/

.side-nav {
   /* border-right: 1px solid rgba(0,0,0,0.14); */
    bottom: 0;
    background: #333;
    color: #fff;
    display: block;
    left: 0;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 5;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1479px) {
    .side-nav {
        visibility: hidden;
        -webkit-transform: translateX(-241px);
        -moz-transform: translateX(-241px);
        -ms-transform: translateX(-241px);
        -o-transform: translateX(-241px);
        transform: translateX(-241px);
    }
}

.side-nav.side-nav-active {
    background: #fff;
    color: #333;
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.side-nav-wrapper {
    min-height: 100%;
    padding-bottom: 96px;
    position: relative;
}

.side-nav .logo {
    line-height: 30px;
    border-bottom: 1px solid #424242;
    display: block;
    height: 64px;
    margin: auto;
    text-align: center;
    padding: 17px 24px 15px 18px;
    position: relative;
    background: #262626;
}

.side-nav.side-nav-active .logo {
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
}

.side-nav .logo a {
    display: block;
    margin: 0 auto;
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.4em;
}

.side-nav .logo img {
    height: 30px;
    opacity: .7;
}

.side-nav nav {
    font-size: 13px;
    padding: 12px 0 10px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.side-nav nav a {
    border-left: 2px solid transparent;
    color: #fff;
    font-weight: 700;
    margin-top: 0;
    padding: 15px 0 15px 22px;
    display: block;
    -webkit-transition: border-left 0.15s ease;
    -moz-transition: border-left 0.15s ease;
    -ms-transition: border-left 0.15s ease;
    -o-transition: border-left 0.15s ease;
    transition: border-left 0.15s ease;
}

.side-nav.side-nav-active nav a {
    color: #2196F3;
    border-left: 2px solid #fff;
}

.side-nav nav a:hover {
    border-left: 2px solid #2196F3;
}
.side-nav nav a.active {
    color: #2196F3;
    border-left: 2px solid #2196F3;
}

.side-nav nav .submenu a {
    margin-left: 20px;
    color: #fff;
    padding: 8px 0 8px 22px;
    font-weight: normal;
}

.side-nav.side-nav-active nav .submenu a {
    color: #666;
}

.side-nav nav .submenu a:hover {
    border-left: 2px solid #333;
    color: #fff;
}

.side-nav.side-nav-active nav .submenu a:hover {
    border-left: 2px solid #fff;
    color: #333;
}

.side-nav nav .submenu a.active {
    color: #2196F3;
    border-left: 2px solid #333;
    font-weight: bold;
}

.side-nav.side-nav-active nav .submenu a.active {
    color: #2196F3;
    border-left: 2px solid #fff;
}

.user-corner {
    border-top: 1px solid #424242;
    bottom: 0;
    color: #fff;
    background: #262626;
    font-size: 13px;
    height: 96px;
    padding: 24px;
    position: absolute;
    width: 100%;
}

.side-nav-active .user-corner {
    border-top: 1px solid #e0e0e0;
    color: #212121;
    background: none;
}

.avatar-wrap {
    height: 48px;
    width: 48px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
}

.avatar-wrap img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.corner-item {
    float: left;
}
.corner-item:first-of-type {
    width: 35%;
    line-height: 24px;

}

.corner-item:last-of-type {
    width: 65%;
}
.corner-item a {
    display: block;
    line-height: 24px;
}

.logout-btn { color: #fff; }
.logout-btn:hover { color: #2196F3; }
.side-nav-active .logout-btn { color: #999; }
.side-nav-active .logout-btn:hover { color: #666; }

/*=============================
    PAGE MASK - Overlay when SIDE BAR is active
=============================*/

.page-mask {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    opacity: 0.1;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 3;
    position: fixed;
    -webkit-transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0 linear 0.4s,opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.page-mask.mask-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
}


/*=============================
    PAGE LOADER
=============================*/

.page-loader {
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    left: 0;
    display: none;
    top: 128px;
    width: 100%;
    z-index: 3;
    position: fixed;
}

.page-loader p {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -153px;
    text-align: center;
}

.right-bar-loader {

    height: 100%;
    right: 0;
    width: 400px;
    display: none;
    top: 0;
    z-index: 3;
    position: fixed;
}

.right-bar-loader p {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -25px;
    text-align: center;
}

/*=============================
    TABS
=============================*/
.tabs {
    float: left;
}


.tabs:after {
    display: table;
    content: '';
    clear: both;
}

.tabs a {
    display: block;
    text-decoration: none;
}
.tabs li {
    display: block;
    float: left;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;

    text-transform: uppercase;
    font-weight: 500;
}

.tabs a {
    color: #fff;
}

.tabs-mini li {
    line-height: 36px;
    height: 36px;
    padding: 0 18px;
    font-size: 13px;
}

.tabs li.active {
    border-bottom: 2px solid #FFFF00;
    color: #fff;
}



/*=============================
    RIGHT BAR - RIGHT SIDE NAV
=============================*/

.right-bar:after {
    display: table;
    clear: both;
    content: '';
}
.right-bar {
    border-left: 1px solid rgba(0,0,0,0.14);
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;

    color: #333;
    display: block;

    width: 400px;
    z-index: 3;
    visibility: hidden;
    -webkit-transform: translateX(401px);
    -moz-transform: translateX(401px);
    -ms-transform: translateX(401px);
    -o-transform: translateX(401px);
    transform: translateX(401px);

}

.right-bar .tab-content {
    position: relative;
}

.right-bar.active-right-bar {
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.right-bar-header {
    height: 128px;
    background: #1E88E5;
    color: #fff;
    position: relative;
    z-index: 4;
}

.right-bar .close-btn {
    float: left;
}

.right-bar-header > div {
    left: 12px;
    right: 12px;
    position: absolute;

}
.right-bar .top-header {
    height: 48px;
    line-height: 48px;
    top: 8px;
}
.right-bar .bottom-header {
    height: 48px;
    position: absolute;
    left: 24px;
    right: 12px;
    bottom: 0;
    line-height: 48px;
}

.bottom-header {
    white-space: nowrap;
    overflow: hidden;
}

.bottom-header h4 {
    color: #fff;
}
/* Tabs inside Right bar */
.bottom-header .tabs-mini {
    height: 36px;
    line-height: 36px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-header .right-aux-toolbar {
    float: right;
}
.top-header .right-aux-toolbar a {
    display: block;
    float: right;
    margin-left: 6px;

}

.right-bar-content {
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    top: 127px;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
}

.content-section:after, .section-entity:after {
    display: table;
    clear: both;
    content: '';
}

.content-section {
    padding: 0 24px;
    line-height: 48px;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    font-size: 12px;
}

.content-section.clear-section {
    padding: 0;
    max-height: 399px;
    overflow: hidden;
}

.content-section.clear-section > img{
    width: 399px;
}

.section-title {
    opacity: 0.4;
}

.section-entity .media-box {
    margin-bottom: 20px;
}

.section-entity .media-box > img{
    width: 25%;
    display: block;
    float: left;
    padding: 2px;

}

.section-entity p{
    line-height: normal;
    margin-bottom: 20px;

}

.section-entity .dt {
    float:left;
    width: 30%;
    line-height: normal;
    margin: 20px 0;
}

.section-entity .dd {
    float: left;
    width: 70%;
    opacity: 0.7;
    line-height: normal;
    padding: 0 16px;
    margin: 20px 0;
}

.section-entity.small-entity .dt {
    margin: 8px 0;
}

.section-entity.small-entity .dd {
    margin: 8px 0;
}

.narrow-entity .dd,
.narrow-entity .dt {
    margin-top: 0;
}

.settings-section {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    margin-top: 40px;
    padding-bottom: 20px;
}

.settings-section:after {
    content: '';
    display: table;
    clear: both;
}

.settings-name {
    width: 30%;
    float: left;
}

.settings-content {
    width: 70%;
    float: left;
}

.condensed .des {
    /* padding-bottom: 0; */
}

.condensed .field {
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.condensed .field:last-child {
    border-bottom: 0;
}

.select-file.form-btn.select-watermark {
    margin-left: 0 !important;
}
.select-file.form-btn.select-logo {
    margin-bottom: 24px;
}

.select-image img {
    margin-bottom: 12px;
}

.des {
    padding-bottom: 12px;
    font-size: .95em;
    color: #424242;

}

.des.des-space{
    margin-bottom: 24px;
}


/*=============================
    ITEM-LIST
=============================*/

.item-list {
    width: 100%;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
}

.item-list a {
    color: #2196F3;
    font-weight: 500;
    display: block;
}

.item-list .detail-btn {
    color: rgba(0,0,0,0.5);
}
.item-list a:hover {
    color: #333;
}

.item-list .item-wrap, .item-list .simple-item-wrap {
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
}


.item-list.item-list-6 .item-wrap {
    height: 72px;
    line-height: 72px;
    white-space: nowrap;
}

.item-list.item-list-6 .item-header {
    height: 56px;
    line-height: 56px;
    position: fixed;
    top: 128px;
    left: 0;
    right: 0;
}

.item-fixed-header {
    position: fixed;
    top: 128px;
    left: 0;
    right: 0;
}

.post-list .item-wrap:nth-child(2),
.page-list .item-wrap:nth-child(2) {
    margin-top: 48px;
}

.item-list .item-fixed-header.active-right-bar {
    right: 400px;
}

/* counteracting fixed header */
.item-list-6 .item-wrap:nth-child(2) {
    margin-top: 56px;
}

.item-list.page-list .item-wrap:not(.item-header),
.item-list.user-list .item-wrap:not(.item-header){
    height: 64px;
    line-height: 64px;
}

.simple-item-header {
    color: rgba(0, 0, 0, 0.54);
}

.item-list .item-wrap:hover {
    background: #E1F5FE;
}

.user-name {
    display: block;
    height: 48px;
}
.user-name > * {
    display: block;
    float: left;
}

.item-wrap img {
    position: absolute;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
}
.user-image {
    position: relative;
    height: 42px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 10px;
    width: 42px;
    margin-right: 12px;

}

.item-wrap.active {
    background: #E1F5FE;
}

.item-wrap:first-child {
    background: #f1f5ed;
    border-bottom: 1px solid rgba(0,0,0,0.14);
}

.simple-item-wrap:first-child {
    border-bottom: 1px solid rgba(0,0,0,0.14);

}

.item-list .item {
    float: left;
    white-space: nowrap;
    width: 30%;
    overflow: hidden;
    min-height: 1px;
}

.item-list .item:first-child {
    width: 40%;
}

.item-list.post-list .item:first-child,
.item-list.page-list .item:first-child{
    width: 10%;
}
.item-list.item-list-6 .item:first-child {
    width: 10%;
    min-height: 1px;
    text-align: center;
}

.status-item > div {
    white-space: nowrap;
    overflow: hidden;
}

.page-list .status-div {
    height: 64px;
}
.status-item > .status-div {
    line-height: 64px;
    vertical-align: middle;
}

.post-list .status-item > .status-div {
    line-height: 48px;
}

.status-item > div:after {
    content: '';
    display: table;
    clear: both;
}

.status-item div > div {
    line-height: 64px;
    display: inline-block;
}

.status-item.post-item div > div {
    line-height: 48px;
}

.status-item .fa-2x {
    line-height: 64px;display: block; float: left;


}

.page-icon i.fa {
    margin-top: 1px;
}

.status-icon {
    vertical-align: top;
}

.toggle-icon i.fa{
    transition: background .2s;
}

.toggle-icon:hover{
    cursor: pointer;
}

.toggle-icon:hover i.fa-eye{
    background: #999;
}

.toggle-icon:hover i.fa-star {
    background: #999;
}

.toggle-icon:hover i.fa-star.active {
    background: #c43600;
}

.toggle-icon:hover i.fa-eye.active{
    background: #005f00;
}

.status-icon i.fa {
    margin-right: 12px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #fff;
    background: #ccc;
    display: inline-block;
}

.status-item i.fa-eye.active,
.status-item i.fa-sitemap.active {
    background: #008000;
}

.status-item i.fa-star.active {
    background: orangered;
}

.status-item i.fa.active {
    color: #fff;
}

.item-list .item > div:not(.badge-icon),
.item-list .item > a:not(.badge-icon) {
    padding: 0 16px;
}

.item-list .item:first-child > *:not(.badge-icon) {
    padding-left: 24px;
}

.item-wrap .item:nth-last-child(2) {
    width: 22%;
}

.item-wrap .item:last-child {
    width: 8%;
    text-align: center;
}

.item-wrap .item:last-child > * {
}

.icon-turquoise {
    color: turquoise;
}

.icon-pink {
    color: pink;
}

.icon-blue {
    color: deepskyblue;
}

.icon-orange {
    color: orange;
}

.icon-green {
    color: green;
}

.icon-red {
    color: red;
}

.ui-datepicker {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.14);
}

.tooltip-inner {
    padding: 6px 12px;
    background-color: #434343;
    border-radius: 2px;
    font-weight: 500;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: transparent;
}

.tooltip.left .tooltip-arrow {
    border-left-color: transparent;

}

.tooltip.top .tooltip-arrow {
    border-top-color: transparent;
}

.removable:after {
    content: '';
    display: table;
    clear: both;
}

.thumbnail {
    overflow: hidden;
    display: block;
    border-radius: 0;
    background: none;
    border: none;
    position: relative;
    padding: 0;
    min-height: 1px;
    margin-bottom: 4px;
}

#media .thumbnail {
    cursor: pointer;
}

.thumbnail img {
    width: 100%;
}

.flash-error {
    position: absolute;
    width: 400px;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    background: rgba(219, 76, 76, 0.94);
    border: 1px solid rgba(177, 45, 45, 0.93);
    box-shadow: 0 0 10px #333;
    color: white;
    opacity: 0;
    z-index: 1060;
}
.thumb-action {
    position: absolute;
    font-size: 1.1em;
    color: rgba(255,255,255,0.6);
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    -webkit-transition: 0.15s all ease;
    -moz-transition: 0.15s all ease;
    -ms-transition: 0.15s all ease;
    -o-transition: 0.15s all ease;
    transition: 0.15s all ease;
    opacity: 0;
}

.thumb-action.active {
    color: #fff;
    background: orangered;
    opacity: 1;
}

.thumbnail:hover .thumb-action {
    opacity: 1;
}

.thumb-action:focus {
    color: rgba(255,255,255,0.6);
}

.thumb-action:hover {
    color: #fff;
}

.thumb-check {
    left: 5px;
    top: 5px;
}

.thumb-action i.fa {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.tiles {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
}

.tiles:after {
    content: '';
    display: table;
    clear: both;
}

.thumbnail input[type="checkbox"] {
    display: none;
}

.state {
    display: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left:2px;
    padding-right: 2px;
}
.media-actions {
    line-height: 48px;
    position: fixed;
    top: 80px;
    left: 240px;
    width: 100%;
    background: #1976D2;
    z-index: 3;
    display: none;
    padding-left: 26px;
}

@media screen and (max-width: 1479px) {
    .media-actions {
        left: 0;
    }
}


.mas {
    float: left;
    display: block;
    line-height: 48px;
}

.mas:after {
    content: '';
    display: table;
    content: '';
}

.media-actions .paper-btn {
    width: auto;
    float: left;
    color: #333;
    padding: 0 12px;
    margin: 0 8px;
    color: #fff;
    min-width: 88px;
}

.media-actions .paper-btn:hover {
    background: #1E88E5;
}

.media-count {
    display: block;
    min-width: 88px;
    color: rgba(255, 255, 255, 0.72);
}

.media-actions:after {
    content: '';
    display: table;
    clear: both;
}

.paper-btn.disabled-btn {
    color: rgba(0,0,0,0.14);
    pointer-events: none;
}

.thumbnail.edit-mode {
    border: 3px solid transparent;
}

.thumbnail.active {
    border: 3px solid #ffbe5f;
}

.edit-mode .thumb-action {
    opacity: 1;
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}

.panel-box {
    margin-bottom: 40px;
}

.panel-box:after {
    content: '';
    display: table;
    clear: both;
}

.panel-condensed .form-group {
    margin-bottom: 0;
}

.login-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: #2196F3;
    padding: 0;
    margin: 0;
    min-height: 1px;
}

.login-grid .grid-outer {
    padding: 0;
    margin: 0;
    height: auto;

}

.login-wrap {
    width: 340px;
    height: 370px;
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -185px;
    margin-left: -170px;
    z-index: 9;

}

.login-wrap h4 {
    margin-bottom: 20px;
    font-weight: 400;
}

.login-wrap .form-btns {
    margin-bottom: 0;
    margin-top: 110px;
}

@media screen and (max-height: 360px) {
    .login-wrap {
        top: 0;
        margin-top: 0;

    }
}


.content-section > table{
    width: 100%;
}

.empty-msg {
    padding: 48px;
    line-height: 2em;
    text-align: center;
    margin: 0 auto;
}

.empty-msg h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
}

.empty-msg .form-btn {
    display: inline-block;
}

.select-file.form-btn {
    display: inline-block;
    margin-left: 24px;
}

.dz-preview {
    height: 180px;
    margin-bottom: 20px;
    overflow: hidden;
}
.dz-preview img {
    max-width: 100%;
    max-height: 100%;
}

.form-btn:disabled {
    color: #999;

}

.controls-group {
    border-bottom: 1px solid rgba(0,0,0,0.14);
    padding-bottom: 20px;
}
.controls-group:before, .controls-group:after {
    content: '';
    display: table;
}
.controls-group:after {
    clear: both;
}

.controls-group-fixed {
    position: fixed;
    background: #fff;
    top: 128px;
    left: 60px;
    right: 60px;
    z-index: 3;
    padding: 20px 0;
}

.controls-group-fixed ~ form{
    margin-top: 80px;
}

.controls-group-fixed .left-controls {
    margin-bottom: 0;
}

.left-controls {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 10px;
    line-height: 39px;
    float: left;
}

.left-controls h3 {
    color: #585858;
    font-weight: normal;
}

.right-controls{
    float: right;
    line-height: 39px;
    vertical-align: middle;
}

.user-form-image-wrap {
    margin: 0 auto;
    position: relative;
}

.user-form-image {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.user-form-image img {
    width: 110%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -82px;
}

.cover {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

.item-detail {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    height: 150px;
    line-height: 25px;

}

.item-detail h3 {
    color: #666;
    font-weight: normal;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.item-detail span {
    display: block;
}

.item-detail span i.fa {
    color: #999;
    margin-right: 5px;
}

.user-form-image-overlay,
.user-form-image-overlay-multiple {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -65px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    line-height: 130px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    -webkit-transition: 0.15s opacity ease;
    -moz-transition: 0.15s opacity ease;
    -ms-transition: 0.15s opacity ease;
    -o-transition: 0.15s opacity ease;
    transition: 0.15s opacity ease;
}
.user-form-image-overlay-multiple {
    cursor: auto;
}
.user-form-image:hover .user-form-image-overlay {
    opacity: 1;
}
.user-form-image-overlay-multiple > a {
    background: #5bc0de;
    color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 0.95em;
    text-decoration: none;
}
.user-form-image:hover .user-form-image-overlay-multiple {
    opacity: 1;
}

/*================================
    DASHBOARD
================================*/
.grid-dashboard {
    padding: 0px 20px 20px 260px;
    background: #f5f5f5;
    margin-right: 10%;
    width: auto;
}

.dash-inner {
    margin: 0 auto;
    max-width: 1160px;
    position: relative;
    margin-top: 64px;
}

.dashboard-grid-header{
    top: 96px;
    height: 96px;
    position: fixed;
    z-index: 3;
    margin: 0 auto;
    left: 260px;
    right: 10%;
    padding: 0 30px 0 10px;

}

@media screen and (max-width: 1479px) {
    .dashboard-grid-header {
        padding: 0 30px;
    }
}

.dashboard-grid-header .dashboard-grid-header-outer {
    background: #fff;
    height: 96px;
    max-width: 1140px;
    margin: 0 auto;
    -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.14);
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.14);
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.info-image {
    float: left;
    padding: 16px 16px 0 16px;
}

.info-image img{
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.info-text a {
    font-size: 0.9em;
}

.info-text {
    height: 32px;
    padding-top: 31px;
    line-height: 16px;
}

.info-text:after {
    content: '';
    display: table;
    clear: both;
}

.info-text p {
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1479px) {
    .grid-dashboard {
        padding-left: 20px;
    }

    .dashboard-grid-header {
        left: 0;
    }
}

.card-wrap.stripped-wrap {
    padding-top: 0;
}

.stripped-wrap .card {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.card-wrap {
    padding: 10px;
}

.card {
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    padding: 20px;
}

.card.card-invisible {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.card:after {
    content: '';
    display: block;
    clear: both;
}

.card-left {
    float: left;
    width: 30%;
}

.card-right {
    width: 70%;
    float: left;
}

.card-img-wrap{
    height: 64px;
    width: 64px;
    overflow: hidden;
}

.card-img-wrap img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.sm {
    min-height: 130px;

}

.bg {
    min-height: 280px;
}

.card a {
    display: inline-block;
}

.media-overview td {
    line-height: 64px;
}

.grid-dashboard table {
    font-size: 0.9em;
}

.media-overview img {
    border-radius: 50%;
    margin-right: 20px;
}

.latest-header {
    /*
    margin-bottom: 10px;
    padding-bottom: 10px;
    */
    color: #999;
    font-weight: 400;
    
}
.list-overview, .media-overview {
    width: 100%;
}
.list-overview td {
    line-height: 36px;
    float: left;
    width: 50%;
}

.list-box{
    display: block;
    margin-bottom: 20px;
    list-style: disc;
}

ul.list-box > li {
    padding: 5px 0;
    margin: 0 0 0 20px;
    line-height: normal;
}

.ghost {
    font-weight: bold;
    color: #ccc;
    text-align: center;
}

.ghost.mw80 {
    width: 60%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.ghost.big {
    font-size: 1.6em;
    line-height: 2em;
    text-transform: uppercase;
    color: #ccc;
}

.add_query_link,
.delete_query_link {
    text-align: center;
    margin: 0 auto;
}

.delete_query_link {
    float: right;
}

.query-form {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.li-empty {

}

/* ADD FIELD FORM */

.proto-form {
    border-bottom: 1px solid blue;
}

.addField-form .data-group .row {

}

.addField-form {
    padding-top: 20px;
    padding-right: 20px;

}
.addField-form .form-hidden {
    display: none;
}

.pf-header h3 {
    display: block;
    float: left;
    width: 80%;
    line-height: 1.8em;
}

.pf-header .fieldForm-right {
    font-size: 1.8em;
    line-height: 1.2em;
    text-align: right;
    width: 20%;
    float: right;

}

.fieldForm-right a {
    margin: 0 5px;
}

.ui-accordion .pf-header.ui-accordion-header,
.ui-accordion .pf-header.ui-accordion-header {
    padding: .5em 0 .5em 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.ui-accordion .addField-form.ui-accordion-content {
    padding: 0;
}

/* CHIPS 2 */

.chip2 {
    border-bottom: 1px solid rgba(0,0,0,0.14);
    overflow: hidden;
    position: relative;
}

.chip2-header{
    cursor: pointer;
    white-space: nowrap;
}

.chip2-active .chip2-header {
    cursor: auto;
}

.chip2-summary{
    line-height: 24px;
    height: 76px;
}

.chip2-summary .badge-icon,
.chip2-pre-header .badge-icon{
    float: left;
    background: #ccc;
    transition: background .3s;
}

.chip2.chip2-active .badge-icon.badge-blue {
    background: dodgerblue;
}

.chip2.chip2-active .badge-icon.badge-green {
    background: forestgreen;
}

.chip2.chip2-active .badge-icon.badge-violet {
    background: blueviolet;
}

.chip2.chip2-active .badge-icon.badge-red {
    background: orangered;
}

.chip2 .btn-small{
    font-size: 1.2em;
    margin: 0 10px;
    color: #a6a6a6;
}

.chip2 .btn-small:hover{
    color: #777;
}

.chip2-content {
    padding-left: 60px;
    margin-top: 8px;
    margin-bottom: 20px;
    display: none;
}

.chip2-content-main {
    padding-top: 20px;
    padding-left: 52px;
    padding-right: 40px;
}

.chip2-content-main p{
    font-size: 1em;
    color: #666;
    line-height: 1.8em;
}

.chip2-content-info {
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
}

.chip2-content-info > img {
    float: left;
    display: block;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 12px;
}

.chip2-detail p {
    font-size: .9em;
    white-space: nowrap;
    color: #777;
}

.chip2-content-info p {
    font-size: .9em;
    white-space: nowrap;
    color: #444;
    height: 40px;
    line-height: 20px;
    padding-top: 4px;
}

.chip2-content-info p span {
    display: block;
}


.chip2-pre-header {
    height: 76px;
}

.chip2-pre-header-title {
    width: 60%;
    float: left;
    white-space: nowrap;
    height: 76px;
    line-height: 76px;
}

.chip2-pre-header-title:after {
    content: '';
    display: table;
    clear: both;
}

.chip2-controls {
    float: left;
    width: 40%;
    white-space: nowrap;
    height: 76px;
    line-height: 76px;
    text-align: right;
}

.chip2-pre-header h3 {
    float: left;
    margin-left: 12px;
}

.chip2-detail {
    height: 40px;
    line-height: 20px;
    padding-top: 18px;
    margin-left: 12px;
    float: left;
}


.chip2-loader {
    height: 3px;
    background: deepskyblue;
    visibility: hidden;
}
.chip2-loader.animated {
    visibility: visible;
    -webkit-animation: loading 1.6s linear infinite;
    -o-animation: loading 1.6s linear infinite;
    animation: loading 1.6s linear infinite;
}


.chip2-loader.animated-loader {
    visibility: visible;
    -webkit-animation: loading 1.6s linear infinite;
    -o-animation: loading 1.6s linear infinite;
    animation: loading 1.6s linear infinite;
    width: 40px;

}

.chip2-line {
    position: absolute;
    height: 50px;
    width: 37px;
    top: 63px;
    left: 23px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: none;

}


/* CHIPS */
.chips {
    width: 100%;
}

.chip {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    background: #fff;
    position: relative;
}

.chip-loader {
    height: 3px;
    background: deepskyblue;
    visibility: hidden;
}
.chip-loader.animated {
    visibility: visible;
    -webkit-animation: loading 1.6s linear infinite;
    -o-animation: loading 1.6s linear infinite;
    animation: loading 1.6s linear infinite;
}


.chip-loader.animated-loader {
    visibility: visible;
    -webkit-animation: loading 1.6s linear infinite;
    -o-animation: loading 1.6s linear infinite;
    animation: loading 1.6s linear infinite;
    width: 40px;

}

@keyframes loading {
    0% {margin-left: -30%; width: 30%;}
    40% {margin-left: 40%; width: 50%;}
    100% {margin-left: 130%; width: 30%;}
}

@-webkit-keyframes loading {
    0% {margin-left: -30%; width: 30%;}
    40% {margin-left: 40%; width: 50%;}
    100% {margin-left: 130%; width: 30%;}
}

.chip p {
    margin-top: 0;
}

.chip h3 {
    font-weight: 400;
}

.chip-header {
    cursor: pointer;
}

.active-chip .chip-header {
    cursor: auto;
}

.chip-header img,
.chip-header .badge-icon {
    display: block;
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.chip-header .badge-icon{
    line-height: 52px;
    margin-top: 0;
}

.chip-inner {
    margin: 0 12px;
    overflow: hidden;
}

.cs-inner {
    position: absolute;
    left: 60px;
    top: 36px;


    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}

.cs-inner.transit {
    transform: translate(80px, 40px);
    -webkit-transform: translate(80px, 40px);

}

.chip-inner img.round {
    display: block;
    float: left;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

.chip-header .chip-inner {
    margin: 12px 12px 12px 0;
}

.chip-inner:after {
    content: '';
    display: table;
    clear: both;
}

.chip-summary {
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
}

.chip-summary p {
    margin-bottom: 0;
    font-size: 0.9em;
    white-space: nowrap;
}

.chip-summary span {
    color: #999;
}

.chip-summary h3 {
    margin-bottom: 10px;
}

.chip-content {
    display: none;
    color: #999;
    padding-bottom: 20px;
    margin-left: 60px;
}

.chip-content .chip-inner {
    margin: 0;
}

.chip h3 {
    font-size: 14px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.chip-loaded .chip-summary h3 {
    display: none;
}

.active-chip .chip-summary {
    line-height: 24px;
}

.active-chip .chip-summary span {
    display: block;
}

.active-chip .chip-summary span.connector {
    display: none;
}

.chip h3.bigger {
    font-size: 20px;
    margin: 10px 0 !important;
}

.chip h3.bigger-chip-title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 24px;
}

.chip-pre-header {
    display: none;
}

.chip-pre-header:after {
    content: '';
    display: table;
    clear: both;
}

.pre-header-title h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 24px;

}

.chip-pre-header > div {
    float: left;
}

.chip-pre-header .pre-header-title {
    width: 60%;
    white-space: nowrap;
}

.chip-pre-header .chip-controls {
    width: 40%;
}

.chip-controls {
    float: right;
    text-align: right;
    line-height: 28px;
}

.chip-controls a {
    display: block;
    float: right;
    margin: 0 8px;
    color: #999;
    font-size: 1.1em;
    width: 28px;
    text-align: center;

}

.media-container {

    margin: 0 auto;
    position: relative;
    padding-left: 12px;
    padding-right: 12px;

}




.video-js {
    width: auto !important; /* override the plugin's inline dims to let vids scale fluidly */
    height: auto !important;
    max-width: 700px;
    margin: 0 auto;
}

.video-js video {position: relative !important;}
/* The video should expand to force the height of the containing div.
One in-flow element is good. As long as everything else in the container
div stays `position: absolute` we're okay */

.video-js .vjs-big-play-button {
    top: 50%; /* errrr, why isn't the play button centered in the default skin? :) */
    left: 50%;
    margin:-4em 0 0 -6em; /* the old negative margin trick */
}

.images-filter {
    cursor: pointer;
}

.images-dropdown {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 152px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background: #fff;
    border-radius: 3px;
    left: 190px;
    top: 12px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    display: none;
}

.images-dropdown.shown {
    display: block;
}

.images-dropdown li{
    line-height: 32px;
    font-size: 14px;
    padding: 8px 12px;
    margin: 2px 0;
}

.images-dropdown li.active a {
    color: deeppink;
}

.images-dropdown li:first-child, .images-dropdown li:last-child {
    margin: 0;
}

.images-dropdown a {
    color: #999;
    display: block;
}

.images-dropdown li:hover {
    background: #f7f7f7;
}

div.badge-icon{
    width: 42px;
    height: 42px;
    line-height: 47px;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    margin-top: 15px;
}

div.badge-icon > i {
    margin-left: 1px;
    font-size: 1.6em;
}

div.badge-icon.badge-icon-big {
    height: 48px;
    width: 48px;
    line-height: 52px;
}

.badge-green { background: forestgreen; }
.badge-violet { background: blueviolet; }
.badge-blue { background: dodgerblue; }
.badge-red { background: orangered; }

.empty-add{
    margin: 20px 0;
}

.modal.help-modal {
    opacity: 0.8;
}

.help.welcome {
    color: #666;
    padding: 40px;
}

.welcome > .title {
    width: 70%;
    margin: 10% auto auto auto;
}

.welcome .title h1{
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 40px;
}

.welcome .title p{
    font-size: 1.4em;
    line-height: 2em;
    margin-bottom: 30px;
}

.close-abs {
    top: 40px;
    right: 40px;
    color: #999;
    position: absolute;
}

.dropdown-menu {
    border-radius: 0;
    top: 141%;
    border-top: 1px solid #fff;
}

.dropdown-menu-right{

}

.dropdown-menu > li > a {
    padding: 3px 8px;
    text-align: center;
    line-height: normal;
    line-height: 1.8em;
    font-size: 1em;
}

.chips .popover {
    display: block;
    width: 300px;
    padding: 15px 10px;
    border-radius: 0;
    z-index: 2;
}

.chips .popover-content {
    position: relative;
}

.chips .dismiss-popover {
    display: block;
    padding: 0 6px;
    float: right;
}


.popover p{
    margin: 0;
    padding: 0;
    height: auto;
}

.popover .popover-left img{
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.popover .popover-right p{
    font-size: .8em;
    margin-left: 10px;
}

.popover .popover-right p:first-child{
    font-weight: bold;
    font-size: 1em;
}
.popover .popover-bottom a{
    width: 30%;
    text-align: center;
    float: left;
    display: block;
}

.ld-link img{
    width: 100%;
}

.ld-slider {

}


.bx-loading {
    display: none !important;
}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:  5px solid #fff;
    left: 0px;
    background: #fff;

    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-prev{
    left: -40px;

}

.bx-wrapper .bx-next{
    right: -40px;
}

.btn-cta {
    outline: 0;
    border: 1px solid #ccc;
    line-height: 36px;
    min-width: 64px;
    padding: 8px 10px;
    margin: 10px 4px 0 4px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    min-width: 88px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.14);
    -webkit-transition: background 0.15s ease, box-shadow 0.15s ease;
    -moz-transition: background 0.15s ease, box-shadow 0.15s ease;
    -ms-transition: background 0.15s ease, box-shadow 0.15s ease;
    -o-transition: background 0.15s ease, box-shadow 0.15s ease;
    transition: background 0.15s ease, box-shadow 0.15s ease;
}