{% extends "admin/material/masters/layout-error.html.twig" %}

{% block content %}
    <div class="error-msg">
        <h1>Error</h1>
        <p class="lead-text">An error occurred on the client.</p>
        <p class="help-msg">

        </p>
    </div>
{% endblock %}
