{% extends "admin/default/masters/layout-error.html.twig" %}

{% block content %}
    <div class="page error">
        <div class="container">
            <div class="wrapper">
                <h1>Error</h1>

                <p class="lead-text">Internal server error.</p>
            </div>
        </div>
    </div>
{% endblock %}
