{% extends "admin/material/masters/layout-error.html.twig" %}

{% block content %}
    <div class="error-msg">
        <h1>Error</h1>
        <p>
            You are seeing this Error Page because an error occured, duh.
        </p>
        <p class="help-msg">
            Make the robot happy by going to admin/default and changing xxx to yyy.
        </p>
    </div>
{% endblock %}
