<div class="help welcome">
    <div class="title">
        <h1>meet posts</h1>
        <p>To run Symfony, your system needs to adhere to a list of requirements. You can easily see if your system passes all requirements by running the web/config.php in your Symfony distribution. Since the CLI often uses a different php.ini configuration file, it's also a good idea to check your requirements from the command line via.</p>
        <p>To run Symfony, your system needs to adhere to a list of requirements. You can easily see if.</p>
    </div>
    <a href="#" class="close close-abs" data-dismiss="modal"><span aria-hidden="true">
            <i class="fa fa-2x fa-close"></i>
    </span><span class="sr-only">Close</span></a>
</div>

