{% if images|length > 0 %}
    {% for image in images %}
        <div class="tb-col removable col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                <img src="{{ app.request.basepath ~ '/uploads/' ~ image.getWebPath('crop') }}">
                <input type="checkbox" name="delete_items[]" value="{{ image.getId }}" />
                <a class="text-center thumb-action thumb-check" href="#"><i class="fa fa-check"></i></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="empty-msg">
        <h2>No images here</h2>
        <div class="holder">
            <div class="camera">
                <div class="left-button"></div>
                <div class="middle-button"></div>
                <div class="right-button"></div>
                <div class="camera-lens">
                    <div class="camera-lens-inner"></div>
                </div>
            </div>
        </div>
        <p>
            Click the upload button at the top right <br/>
            or just <br/>
            <a class="form-btn" href="#">Upload some now</a>
        </p>
    </div>
    <div class="tiles container-fluid">
    </div>
{% endif %}