{% if images|length > 0 %}
    {% for image in images %}
        <div class="tb-col removable col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                {#<img src="{{ app.request.basepath ~ '/uploads/' ~ image.getWebPath('crop') }}">#}
                <a class="view-link" href="{{ app.url_generator.generate('admin/media/view', {id:image.getId}) }}">
                    <img src="{{ app.request.basepath ~ '/uploads/' ~ image.getWebPath('crop') }}">
                </a>
                <input type="checkbox" name="delete_items[]" value="{{ image.getId }}" />
                <a class="text-center thumb-action thumb-check" href="#"><i class="fa fa-check"></i></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="empty-msg">
        <h2>No images here</h2>
        <div class="holder">
            <div class="camera">
                <div class="left-button"></div>
                <div class="middle-button"></div>
                <div class="right-button"></div>
                <div class="camera-lens">
                    <div class="camera-lens-inner"></div>
                </div>
            </div>
        </div>
        <p>
            <a class="form-btn new-media" href="#">Upload Images</a>
        </p>
    </div>
    <div class="tiles container-fluid">
    </div>
{% endif %}