<div class="right-bar-header">
    <div class="top-header">
        <div class="right-aux-toolbar">
            <a href="#" class="paper-btn close-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-times"></i></a>
            <a href="#" class="paper-btn delete-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></a>
            <a href="newpost.html" class="paper-btn edit-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></a>
        </div>
    </div>

    <div class="bottom-header"><h4>Page Title</h4></div>
</div>

<div class="right-bar-content">
    <div class="content-section">
        <div class="section-title">Status</div>
        <div class="section-entity">
            <div class="dt">Data</div>
            <div class="dd">Some page data</div>
        </div>
    </div>
</div>