<div class="item-list">
    <div class="simple-item-wrap simple-item-header">
        <div class="item"><div>Title</div></div>
        <div class="item"><div>Status</div></div>
        <div class="item"><div>Last Modified</div></div>
    </div>

    {% for post in posts %}
        <div class="simple-item-wrap">
            <div class="item">
                <div>
                    <a href="{{ app.url_generator.generate('admin/post/view', {post:post.getId}) }}">{{ post.getTitle }}</a>
                </div>
            </div>
            <div class="item">
                <div>
                    {% if post.getPublished %}
                        PUBLISHED
                    {% else %}
                        NOT PUBLISHED
                    {% endif %}

                    {% if post.getExposed %}
                        EXPOSED
                    {% endif %}
                </div>
            </div>
            <div class="item"><div>{{ post.getCreatedAt|date }}</div></div>
        </div>
    {% endfor %}
</div>
