{% if videos|length > 0 %}
    {% for video in videos %}
        <div class="tb-col removable col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail">
                {#<img src="{{ app.request.basepath ~ '/uploads/crops/' ~ video.getMediaId ~ '.jpeg' }}">#}
                <a class="view-link" href="{{ app.url_generator.generate('admin/media/view', {id:video.getId}) }}">
                    <img src="{{ app.request.basepath ~ '/uploads/crops/' ~ video.getMediaId ~ '.jpeg' }}">
                </a>
                <input type="checkbox" name="delete_items[]" value="{{ video.getId }}" />
                <a class="text-center thumb-action thumb-check" href="#"><i class="fa fa-check"></i></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="empty-msg">
        <h2>No videos here</h2>
        <div class="holder">
            <div class="video">
                <div class="case">
                    <div class="v-lens"></div>
                    <div class="v-tube"></div>
                    <div class="v-holder"></div>
                </div>
                <div class="l-wheel wheel">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="r-wheel wheel">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <p>
            <a class="form-btn new-media" href="#">Upload</a>
        </p>
    </div>
    <div class="tiles container-fluid">
    </div>
{% endif %}
