body {
    font-family: Karla, sans-serif;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.admin {
    color: #666;
    background: #212121;
}

.admin-bar {
    margin: 0 auto;
    background: #212121;
}
.admin-bar p {
    padding: 12px 8px;
    margin: 0;
    margin-left: 15px;
}

.admin-bar a {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #999;
    margin-right: 15px;
    padding: 12px 8px;
}

.admin-bar a:hover { color: #fff; }
p { font-family: Helvetica, Arial, sans-serif; }
img { max-width: 100%; }
.right-nav li { float: left; }
nav { border-bottom: 1px solid #d2d2d2; }
ul { margin-bottom: 0; }
nav ul { margin: 14px 0; }
.navbar-default .navbar-nav>li>a {
    color: #444;
    text-transform: uppercase;
    display: block;
    margin-left: 14px;
    border: 1px solid #fff;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    font-weight: 600;
    border: none;
}

.navbar>.container .navbar-brand:hover, .navbar>.container-fluid .navbar-brand:hover {
    border: none;
    background: none;
    color: orangered;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    border: 1px solid orangered;
    color: orangered;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a.active {
    border: 1px solid orangered;
    color: #fff;
    background: orangered;
}

@media screen and (max-width:767px) {
    .navbar-default .navbar-nav>li>a {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: 0;
        border-right: 0;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:active,
    .navbar-default .navbar-nav>li>a.active {
        border-left: 0;
        border-right: 0;
    }
}

.section-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #fff;
}

.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-nav>li>a {
    line-height: 10px;
    margin-top: 9px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width:767px) {
    .navbar > .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav a { margin-left: 0; }
}


.btn {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.btn:hover {
    background: #fff;
    border: 1px solid orangered;
    color: orangered;
}

header {
    padding: 30px 0 30px 0;
    background: orangered;
}

header .meta {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 13px;
    opacity: .8;
    border-bottom: none;
    color: #fff;
    padding: 4px 0 0 0;
    margin-bottom: 0;
    margin-top: 12px;
}

.media {
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

header.crumb {
    padding: 10px 0;
    margin-bottom: 0;
}

header.crumb .section-header {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-left: 10px;
}

.recent,
.media {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

@media screen and (min-width:767px) {
    .recent,
    .media {
        border-top: none;
        border-bottom: none;
    }
}

.media > div {
    color: #fff;
    font-weight: normal;
}

.post-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 2.4em;
    margin-bottom: 8px;
}

.post {
    line-height: 1.9;
    color: #444;
    margin-bottom: 68px;
    margin-top: 0;
    padding-bottom: 68px;
}

.post p {
    margin-bottom: 14px;
}

.post .media {
    margin-top: 0;
}

.post .media > div {
    margin-top: 0;
    margin-bottom: 0;
    padding: 6px 12px;
    background: #000;
}

.post-content {
    padding-bottom: 15px;
    border-bottom: 1px solid #121212;
}

.post-content p { line-height: 1.5em; }
article { margin-bottom: 28px; }
article.first { margin-top: 64px; }
article h4 { margin-top: 0; margin-bottom: 14px; }

article h4:after {
    content: '';
    display: table;
    width: 40px;
    height: 2px;
    margin-top: 12px;
    background: #333;
}

article.main.right h4{
    margin-top: 0;
    border-bottom: 1px solid #333;
    padding-bottom: 12px;
}

article.main p:first-child {
    font-weight: 600;
    color: #666;
}

article.media ul a {
    display: block;
    color: #444;
}

article.media ul a:hover {
    color: orangered;
    text-decoration: none;
}

article.recent ul { border: none; }

article.recent li {
    border: none;
    margin-bottom: 20px;
}

article.recent a { color: #121212; }

article.recent a:hover {
    color: orangered;
}

article.recent h5 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.1em;
}

article.recent p {
    margin-top: 4px;
    font-size: 90%;
    opacity: 0.8;
    font-weight: 500;
}

article.recent li > .row > a > div { padding-right: 0; }
article.recent li img { width: 100%; }
article.media ul { border: none; }
article.media li { border: none; margin-bottom: 20px; }
article.media li img { float: left; width: 40%; }
article.media li p {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    padding-left: 12px;
    font-size: 1.1em;
    font-weight: 600;
}

article.media li p:last-child {
    font-size: 90%;
    opacity: .7;
}

.list-group { margin-bottom: 16px; }

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width:767px) {
    .post {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    article.top h4 {
        margin-top: 0;
    }

    .sidebar .row:first-child {
        margin-top: 20px;
        margin-bottom: 10px;
    }


    .list-group-item {
        position: relative;
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 8px 6px;
        margin-bottom: 3px;
        background-color: #fff;
        border: 1px solid #ddd;
    }
}

.extract { font-weight: 600; }

footer {
    padding: 38px 0 0 0;
    background: orangered;
    color: #e8e8e8;
}

footer p {
    margin-top: 12px;
    color: #F7E967;
    font-size: 85%;
}

footer a {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #F7E967;
}

footer .menu a { padding: 6px 0; }

footer .social a {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 3px;
    padding: 3px;
    color: #F7E967;
    height: 36px;
    width: 36px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #F7E967;
}

footer .social a:hover {
    background: #F7E967;
    color: orangered;
}

footer .social h4 {
    margin-top: 0;
    padding-top: 0;
}

footer .copy p {
    margin: 3px 0;
    padding: 0;
}

footer .bottom {
    background: #f04100;
    margin-top: 26px;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer .container > .row > div:nth-child(2) {
    border-right: 1px solid red;
    border-left: 1px solid red;
    padding: 20px;
}

footer .bottom a {
    font-size: 75%;
    font-weight: normal;
    margin-right: 6px;
}

.vcenter {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    float: none;
}

footer .copy p:last-child { opacity: .6; }
#search-form { margin-bottom: 68px; }

.form-group input {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border-color: #ddd;
    height: 48px;
}

.form-group textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: orangered;
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
    border-color: orangered;
}

.tags a {
    padding: 4px 8px;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-bottom: 4px;
    color: orangered;
    font-size: 13px;
    border: 1px solid orangered;
}

.tags a:hover {
    background: orangered;
    color: #fff;
    text-decoration: none;
}

.meta {
    font-size: 13px;
    color: #666;
    padding: 0 0 8px 0;
    margin-bottom: 16px;
}

.meta span {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 12px;
    margin-left: 12px;
}

.meta span:first-child { margin-left: 0; }
.meta a { color: #444; }

.meta a:hover {
    color: #22ce67;
    text-decoration: none;
}

.content { padding-top: 15px; }
.content > div { margin-top: 12px; }
.landing-item { padding-top: 0; }

.controls a {
    height: 34px;
    width: 34px;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 34px;
    background: #444;
    color: #fff;
    font-size: 18px;
}

.controls { margin-bottom: 68px; }
.post-item a, .post-items .item h4 { color: #323232; }
.post-items .item a:hover h4 { color: orangered; }
.post-items .item a { display: block; }
.post-items > a:hover h4, .post-items .row > a:hover h4 { color: orangered; }
.post-items .post-meta-main { color: #666; }
.post-items > a, .post-items .row > a { display: block; }
.post-item p.body, .post-items .item p.body { color: #323232; }
.landing-item { margin-bottom: 30px; }
.landing-item .recent-exposed article.media li:last-child { margin-bottom: 0; }
.landing-item img { width: 100%; }
.landing-item .post-exposed .item { position: relative; }

.landing-item .post-exposed .item-bottom p {
    padding: 0;
    margin: 0;
}

.landing-item .post-exposed .item-bottom {
    font-size: 90%;
    background: #000;
    padding: 20px;
}

.landing-item .post-exposed .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    background: #000;
    padding: 20px 40px 0 20px;
}

.landing-item .post-exposed a {
    text-decoration: none;
    color: #fff;
}


.landing-item .post-exposed h3 {
    font-size: 2em;
    margin: 0;
}

.landing-item .post-exposed p {
    margin-right: 24px;
    color: #fafafa;
    font-size: 1.1em;
}

@media screen and (max-width:767px) {
    .landing-item { margin-bottom: 0; }
    .recent-exposed { margin-top: 20px; }
    .recent-exposed .media { padding-top: 20px; }
}

a.post-exposed {
    margin: 0 15px;
    padding: 15px 0;
    display: block;
    background: #ccc;
}

.post-item { padding-bottom: 20px; }

.post-item h4 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0;
}

.post-item .post-exposed p { color: #000; }
.post-item .post-exposed .post-meta-main { color: #666; }
.post-item .body { margin-bottom: 10px; }
.post-meta-main { color: #666; }

.post-item .post-meta-main {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.post-items.row {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post-items .row.trio { margin-bottom: 15px; }

.post-items .trio {
    border: none;
    margin-bottom: 0;
}

.post-items h4 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 6px;
}

.post-items .item .post-meta-main { margin-bottom: 5px; }

.post-items .item {
    border-right: 1px solid #000;
    font-size: 95%;
    margin-bottom: 15px;
}

.post-items.landing-items .item {
    border-right: none;
    font-size: 75%;
}

.post-items .item:last-child { border-right: none; }

.fa-is_color:before { content: "\f1fc"; }
.fa-aperture:before { content: "\f10c"; }
.fa-focal_length:before { content: "\f07e"; }
.fa-exposure_time:before { content: "\f017"; }
.fa-time_originated:before { content: "\f069"; }
.fa-continent:before,
.fa-region:before { content: "\f0ac"; }
.fa-city:before { content: "\f041"; }
.fa-country:before,
.fa-provinceorstate:before { content: "\f024"; }
.fa-naturalfeature:before { content: "\f06c"; }
.fa-person:before { content: "\f183"; }
.fa-city:before { content: "\f041"; }
.fa-position:before { content: "\f069"; }
.fa-company:before { content: "\f1ad"; }

.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 0;
}

a.thumbnail:hover { border: 4px solid #222; }

.form-group input[type="submit"] {
    width: 100%;
    color: #666;
    text-transform: uppercase;
    display: block;
    height: 34px;
    background: #fff;
    padding: 7px 12px;
    margin-bottom: 0;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: 1px solid #dfdfdf;
}

input[type="submit"]:hover {
    text-decoration: none;
    border: 1px solid orangered;
    color: orangered;
}

input[type="submit"]:active {
    text-decoration: none;
    border: 1px solid orangered;
    color: #fff;
    background: orangered;
}

.form-group { margin-bottom: 8px; }

.form-group label {
    color: #666;
    font-size: 90%;
}

.form-group textarea {
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.form-group input {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border-color: #ddd;
    height: 38px;
}

.media-view img { width: 100%; }

.media-view .meta {
    margin-top: 8px;
    text-align: center;
}

.media-view .media-item {
    position: relative;
}

.media-view .media-item p {
    margin-top: 16px;
}

.media-view .media-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    font-size: 80%;
    color: #fff;
    background: #000;
    opacity: .4;
    padding: 3px 12px;
}

.thumbs {
    margin-top: 25px;
}

.thumbs a,
.thumbnails a {
    position: relative;
}

.thumbnails a:hover .thumb-overlay {
    visibility: visible;
}

.thumbnails .thumb-overlay {
    visibility: hidden;
}

.thumbs .thumb-overlay,
.thumbnails .thumb-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 80%;
    color: #fff;
    background: #000;
    opacity: .7;
    padding: 3px 6px;
}

.form-main {
    position: relative;
    background: none;
}

form label {
    clear: both;
    display: block;
}

label.error {
    line-height: 1;
    background: orangered;
    color: #fff;
    padding: 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    float: left;
    margin-bottom: 20px;
}

.form-loader {
    position: absolute;
    top: 45%;
    left: 45%;
    right: 0;
    bottom: 0;
    background: none;
    z-index: 11;
}

.form-loader img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0.7;
    -webkit-animation: sliderLoad 0.9s linear infinite;
    -moz-animation: sliderLoad 0.9s linear infinite;
    -o-animation: sliderLoad 0.9s linear infinite;
    -ms-animation: sliderLoad 0.9s linear infinite;
    animation: sliderLoad 0.9s linear infinite;
}

.form-error-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.6, .6);
    -moz-transform: scale(.6, .6);
    -ms-transform: scale(.6, .6);
    -o-transform: scale(.6, .6);
    transform: scale(.6, .6);
}

.form-error-box p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-top: 55%;
}

.fadeOutScale {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.6, .6);
    -moz-transform: scale(.6, .6);
    -ms-transform: scale(.6, .6);
    -o-transform: scale(.6, .6);
    transform: scale(.6, .6);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.fadeInScale {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}