.modal-open .media-modal.modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.media-modal .modal-content{
    background-color: #1a1a1a;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.media-modal .modal-backdrop {
    /* right: 400px; */
    background: #1a1a1a;
}
.media-modal.modal{
    background-color: #1a1a1a;
    padding: 10px;
    overflow: hidden;
    /* right: 400px; */
}

.media-modal .modal-left{
    right: 400px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.media-modal .modal-right-bar{
    position: absolute;
    right: 0;
    width: 400px;
    top: 0;
    bottom: 0;
    height: 100%;
}

.media-modal .right-bar-content {
    position: absolute;
    top: 127px;
    left: 0;
    right: 0;
    bottom:0;
}

.media-modal .modal-right-bar .top-header {
    height: 48px;
    line-height: 48px;
    top: 8px;
}
.media-modal .modal-right-bar .bottom-header {
    height: 48px;
    position: absolute;
    left: 24px;
    right: 12px;
    bottom: 0;
    line-height: 48px;
}

.bottom-header {
    white-space: nowrap;
    overflow: hidden;
}

.media-modal .modal-dialog{
    max-width: 600px;
    max-height: 400px !important;
    margin: 0 auto;
}

.media-modal .modal-body{
    padding: 0;
    overflow: hidden;
}

.media-modal img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    opacity: 0;
}

@media screen and (min-height: 400px) {
    .media-modal .modal-body img {
        max-height: 300px;
    }
}

@media screen and (min-height: 500px) {
    .media-modal .modal-body img {
        max-height: 400px;
    }
}

@media screen and (min-height: 600px) {
    .media-modal .modal-body img {
        max-height: 500px;
    }
}
@media screen and (min-height: 700px) {
    .media-modal .modal-body img {
        max-height: 600px;
    }
}

@media screen and (min-height: 800px) {
    .media-modal .modal-body img {
        max-height: 700px;
    }
}

@media screen and (min-height: 950px) {
    .media-modal .modal-body img {
        max-height: 850px;
    }
}

.media-modal .modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background: #202020;
    padding: 10px;
}

.media-modal .modal-close .glyphicon {
    font-weight: 100;
}

.media-modal .modal-close span {
    line-height: 20px;
    vertical-align: middle;
}

.modal {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.media-modal .modal-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #1a1a1a;
    border-top: none;
    border: none;
    color: #ccc;
    text-align: center;
    width: auto;
    right: 400px;
    padding: 0;
    line-height: 48px;

}

@media (min-width: 768px) {
    .media-modal .modal-dialog {
        width: auto !important;
    }
}

.media-modal .modal-footer .paper-btn {
    display: inline-block;
}


/* Upload modal */

.upload-modal .modal-dialog {
    height: 90%;
    width: 100%;
    margin-top: 0 !important;
}

.upload-modal .paper-btn {
    float: left;
}

.upload-modal .modal-header, .confirm-modal .modal-header {
    border-bottom: none;
    background: #f9f9f9;
    text-align: center;
}

.upload-modal .modal-content, .confirm-modal .modal-content {
    height: 100%;
    border-radius: 0;
    border: 0;
}

.confirm-modal .modal-footer {
    height: 50px;
    background: #f9f9f9;
    padding: 0;
    line-height: 50px;
    border-top: 0;
}

.upload-modal .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #f9f9f9;
    line-height: 70px;
    padding: 0;
    vertical-align: middle;
    text-align: left;
}

.upload-modal .modal-body {
    position: absolute;
    top: 50px;
    bottom: 70px;
    left: 0;
    right: 0;
    background: #ededed;
    overflow-y: auto;
}

.confirm-modal .modal-body {
    background: #ededed;
    padding: 40px;
    text-align: center;
}
.upload-modal .form-btn {
    margin: 0 20px;
}

.confirm-modal .form-btn {
    margin-right: 20px;
}


.upload-modal .dz-message {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 100px;
    line-height: 50px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
}
.modal-header {
    color: rgba(0,0,0,0.7);
}
.modal-body {
    font-weight: 400;
    color: rgba(0,0,0,0.7);
}


.upload-modal .progress {
    border-radius: 0;
    height: 4px;
    width: 100%;
    background: #80D8FF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.upload-modal .progress-bar {
    width: 1%;
    background: #0277BD;
}