{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-ajax.html.twig" : "admin/default/masters/layout-base.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block content %}
<div class="container">
    <div class="row instructions">
        <div class="col-xs-12 ">
            <h3 class="text-center">Password reset request</h3>
        </div>

        <div class="col-xs-8 col-xs-offset-2 text-center">
            <p>Please enter your email in the text field below to reset your password. A link will be sent to your email will further instructions.</p>

        </div>
        {{ form_start(form) }}
        <div class="col-xs-6 col-xs-offset-3 npl">
            <div class="form-group field">
                {{ form_widget(form.email) }}
            </div>

            <div class="text-center">
                {{ form_widget(form.save) }}

            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
