{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-ajax.html.twig" : "admin/default/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block content %}
    {% block images %}
        <div class="row thumbnails">
            <div class="progress hidden">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 4%">
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" action="{{ app.url_generator.generate('admin/media/upload') }}">
                <div class="im-dropzone im-dropzone-clickable dropzone clearfix col-lg-12">
                    {% include "admin/default/widgets/image-grid.html.twig" %}
                </div>
                <div class="col-lg-12 form-group hidden">
                    <h5 class="page-header">Click anywhere or drag new images here</h5>
                    {{ form_row(form._token) }}
                    <input type="submit" class="btn btn-primary btn-save" />
                </div>
            </form>
            <div class="loading hidden">loading</div>
        </div>
    {% endblock %}
{% endblock %}
