{% extends app.request.isXmlHttpRequest ? "admin/default/masters/layout-ajax.html.twig" : "admin/default/masters/layout-admin.html.twig" %}

{% block content %}

<div class="main-content affix-content">
    <div class="flash-messages">
        {% for message in app.session.getFlashBag.get('success') %}
            <span class="alert alert-flash-message alert-success">{{ message|raw }}</span>
        {% endfor %}
    </div>

    {% if posts|length < 1 %}
    <div class="jumbotron jumbo-clear">
        <h1 class="page-header text-center">No posts</h1>
        <p class="text-center page-type">Pages let you organize posts and display them on a single page. Each page maps to a custom URL, so you can build human friendly links for your web site.</p>
        <div class="holder holder-post">
            <div class="p-main">
                <div class="p-header">
                    <div class="p-flag"></div>
                    <div class="p-title"></div>
                </div>
                <div class="p-content">
                    <ul class="p-insides">
                        <li class="img"></li>
                        <li class="line"></li>
                        <li class="line"></li>
                        <li class="line"></li>
                        <li class="line"></li>
                        <li class="line"></li>
                        <li class="line"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <p class="text-center"><a href="{{ app.url_generator.generate('admin/post/add') }}" class="btn btn-primary btn-action btn-lg" role="button">Add a post now</a></p>
    </div>
    {% else %}
    <div class="affixed">
        <div class="row">
            <div class="col-xs-4 affix-left-controls">
                <div class="btn-group">
                    <a href="{{ app.url_generator.generate('admin/post/add') }}" class="btn btn-round btn-action tooltipped" data-toggle="tooltip" data-placement="right" title="Create new post"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <h5>Posts</h5>
            </div>
            <div class="col-xs-4 text-right affix-right-controls">
                <div class="btn-group">
                    <a href="#" class="btn-round cmd-view-collapse btn-cmd btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Collapse/Expand"><i class="fa fa-expand"></i></a>
                    <a href="#" class="btn-round cmd-view-help btn-cmd btn btn-help tooltipped" data-toggle="tooltip" data-placement="bottom" title="Show help"><i class="fa fa-question"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-help alert-exposed row">
        <div class="col-xs-12">
            <h3><i class="fa fa-book"></i> Posts Help</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p class="text-lead">
                Posts, together with pages, are the central blocks of your web site. They are made of text and items from the media library, like images and videos. If content annotation is enabled in settings, then the text is classified and enriched before saving.
                To create a new post, click on the plus icon on your upper left. View, edit or remove a single post by clicking on one of its list icons.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h5>Comprehending post lists</h5>
            <p>Post indicators let you know the state of each post in the list: published posts are marked with <i class="fa fa-eye"></i>, and exposed posts with <i class="fa fa-star"></i> icons.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h5>Creating posts</h5>
            <p>
                To create a new post, click on the plus icon on your upper left. View, edit or remove a single post by clicking on one of its list icons.
            </p>
        </div>
        <div class="col-xs-12">
            <br>
            <a href="#" class="btn btn-success pull-right">OK, I got it.</a>
        </div>
    </div>
    <div class="collection xhr-container affix-collection list-collapsed">
        {% include 'admin/default/widgets/post-list.html.twig' %}
    </div>
    {% endif %}
</div>
{% endblock %}
