<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {% block header %}
                <h4 class="modal-title">Modal title</h4>
            {% endblock %}
        </div>
        <div class="modal-body">
            {% block body %}
                <p>One fine body&hellip;</p>
            {% endblock %}
        </div>
        <div class="modal-footer">
            {% block footer %}
                <button type="button" class="btn btn-cancel btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-confirm btn-primary">Save changes</button>
            {% endblock %}
        </div>
    </div>
</div>
