{% extends page is defined ? "site/strackovski/masters/" ~ page.getMaster ~ ".html.twig" : "site/strackovski/masters/layout-default.html.twig" %}

{% block content %}

<div class="">
    <div class="container no-pad">
        <div class="pages">

            {% for post in content %}

                <section class="section author">
                    <div class="main">
                        <div class="section-title imgd">
                            <h1 title="{{ post.getTitle }}">{{ post.getTitle }}</h1>
                        </div>

                        <p class="subtitle">{{ post.getSubtitle }} </p>
                        <p>{{ post.getBody }}</p>

                    </div>
                </section>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}