{% extends app.request.isXmlHttpRequest ? "admin/material/masters/layout-ajax.html.twig" : "admin/material/masters/layout-admin.html.twig" %}

{% form_theme form "bootstrap.html.twig" %}

{% block pageHeader %}
    <header class="">
        <div class="header-wrapper">
            <div class="inner-header-wrapper">
                <div class="top-header-wrapper">
                    <div class="header-title">
                        <span>Media</span>
                    </div>
                </div>
                <div class="bottom-header-wrapper">
                    <div class="tabs media-tabs">
                        <ul>
                            <li class="active">
                                <a href="#images" role="tab" data-toggle="tab">Images</a>
                            </li>
                            <li>
                                <a href="#videos" role="tab" data-toggle="tab">Videos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block rightBlock %}
    <nav class="">
        <div class="right-toolbar">
            <a href="#upload" class="paper-btn upload-btn tooltipped" data-toggle="tooltip" data-placement="bottom" title="Upload"><i class="fa fa-upload"></i></a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% block images %}
        <div class="thumbnails">
            <div class="media-actions">
                <div class="mas">
                    <span class="media-count">0 selected</span>
                </div>
                <div class="mas">
                    <a class="paper-btn media-select-all">Select</a>
                    <a class="paper-btn media-deselect-all">Deselect</a>
                </div>

                <div class="mas">
                    <a href="{{ app.url_generator.generate('admin/media/delete') }}" class="paper-btn delete-btn"><i class="fa fa-trash"></i> Delete</a>
                </div>
            </div>
            <div class="tiles">
                {% include "admin/material/widgets/image-grid.html.twig" %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
